<main>
    <div class="fondo">
        <div class="fd-help">
            <h1 class="title-2">Estamos para Ayudarte</h1>
            <p>
                si tienes algun problema con nuestra pagina o con nuestros productos
                <br>
                puedes mandarnos tu mensaje a traves de nuestra pagina
            </p>
            <textarea placeholder="Descripcion" id="description" cols="80" rows="10"></textarea>
            <input class="help-submit" type="submit" value="enviar">
            <p>
                sino puedes contactarte con nosotros por Nuestro Correo electronico
                <br>
                NuestroCorreo@gmail.com o a nuestro WhatsApp 011 2233 4455
            </p>
            <h2 class="title-h3">Te reponderemos lo mas rapido posible</h2>
            <p class="p-social">no te olvides que tenemos nuestras redes sociales</p>
        </div>
    </div>
</main>
<script src="/static/logic/userCurrent.js"></script>