<main class="container fondo large">
    
    <h1 class="cart-h2 text-center">CARRITO DE COMPRAS</h1>
    <div class="table-responsive">
        <table class="table table-dark table-striped-columns" id="tablaProductos">
            <tbody>
                <tr class="table-scale">
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-res d-flex flex-column flex-lg-row justify-content-between">
        <table class="table resumen-buy table-dark table-striped-columns text-center d-flex justify-content-center"
            id="tablaTotal">
        </table>
        <!-- card sacada de boostrap -->
        <div class="card-res col-8 d-flex flex-column" id="botonCompra">
            <div class="d-flex flex-column" id="productos">
            </div>
        </div>
    </div>
</main>
<script src="/static/logic/cart.js" ></script>