<main class="container fondo large gridMain">
    <section class="py-5">
        <div class="container">
            <div id="card"
                class="border-warning">
            </div>
        </div>
    </section>
    <div class="align-items-center d-flex flex-column pt-5 pb-5">
        <div class="bg-black bg-opacity-25 border border-warning">
            <div class="pb-2 pt-2 px-4">
                <h5 class="fs-6 mb-1 mt-2">nombre y apellido</h5>
                <input class="bg-dark px-xl-1 rounded-2" required id="name" type="text" name="name"
                    placeholder="Alex Mantinez">
            </div>
            <div class="pb-2 pt-2 px-4">
                <h5 class="fs-6 mb-1 mt-2">email</h5>
                <input class="bg-dark px-xl-1 rounded-2" required id="email" name="email"
                    placeholder="example@gmail.com">
            </div>
            <div class="pb-2 pt-2 px-4">
                <h5 class="fs-6 mb-1 mt-2">telefono</h5>
                <input class="bg-dark px-xl-1 rounded-2" id="phone" type="phone" name="phone" placeholder="01123456678">
            </div>
            <div class="pb-2 pt-2 px-4">
                <button id="botonCompra" class="btn p-1 rounded-3 w-100">finalizar compra</button>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
<!-- Core theme JS-->
<script src="/static/logic/userCurrent.js"></script>
<script src="/static/logic/payment.js"></script>