<main class="container fondo large">
    <section class="py-5 gridMain">
        <div class="container px-4 px-lg-5 mt-5 w-75">
            <div id="card"
                class="border-warning gx-4 gx-lg-5 h-25 justify-content-center row-cols-2 row-cols-md-3 row-cols-xl-4">
            </div>
        </div>
        <div class="align-items-center d-flex flex-column pt-5">
            <div class="bg-black bg-opacity-25 border border-warning">
                <div class="pb-2 pt-2 px-4">
                    <h5 class="fs-6 mb-1 mt-2">nombre y apellido</h5>
                    <input class="bg-dark px-xl-1 rounded-2" required id="name" type="text" name="name" placeholder="Alex Mantinez">
                </div>
                <div class="pb-2 pt-2 px-4">
                    <h5 class="fs-6 mb-1 mt-2">email</h5>
                    <input class="bg-dark px-xl-1 rounded-2" required id="email" name="email" placeholder="example@gmail.com">
                </div>
                <div class="pb-2 pt-2 px-4">
                    <h5 class="fs-6 mb-1 mt-2">telefono</h5>
                    <input class="bg-dark px-xl-1 rounded-2" id="phone" type="phone" name="phone" placeholder="01123456678">
                </div>
                <div class="pb-2 pt-2 px-4">
                    <button id="botonCompra" class="btn p-1 rounded-3 w-100">finalizar compra</button>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<!-- Core theme JS-->
<script src="/static/logic/payment.js"></script>