<main>
    <div class="fondo">
        <section class="sectioKey">
            <div class="signin">
                <div class="content">
                    <h2>Sign In</h2>
                    <form id="loginForm" class="form">
                        <div class="inputBox">
                            <input type="email" name="email" id="email" required><i>Email</i>
                        </div>
                        <div class="inputBox">
                            <input type="password" name="password" id="password" required> <i>Password</i>
                        </div>
                        <div class="links"> <a href="/api/reset">Forgot Password</a> <a href="/api/register">Signup</a>
                        </div>
                        <div class="inputBox">
                            <button type="submit" class="logInput" id="loginButton">Login</button>
                            <a href="/api/githublogin"><img src="/static/public/img/github.svg"
                                    class="bi bi-github"></a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
<script src="/static/logic/login.js"></script>