<main>
    <div class="fondo">
       <section>
      <div class="container-sec">
        <div class="flex-absolute">
          <img class="sec-img" src="/static/public/img/edit-AMD-Intel.jpg" alt="fondoVs">
          <!-- Con Js hacemos un filter a las imagenes para traer los productos segun su categoria -->
          <!-- por ahora voy a aplicar productos.html -->
          <a href="/views/pages/combos.html"><img class="section-intel" src="/static/public/img/intel-Simbolo.png"
              alt="Intel"></a>
          <a href="/views/pages/combos.html"><img class="section-amd" src="/static/public/img/AMD-Simbolo.png"
              alt="Amd"></a>
        </div>
      </div>
    </section>
        <!--********** CARDS DE PRODUCTOS ************ -->
        <table class="container-table">
            <!-- ***** OFERTAS ***** -->
            <div>
                <tr class="row-fluid">
                    <!-- Table Header - Encabezado de Tablas -->
                    <th class="title-h">
                        <h1 class="title-card">OFERTAS IMPERDIBLES</h1>
                    </th>
                </tr>
                <tr class="gen-card" id="gen-card">
                </tr>
            </div>
            <!-- ***** PRODUCTOS INTEL **** -->
            <div>
                <!-- Table Header - Encabezado de Tablas -->
                <tr class="row-fluid">
                    <th class="title-h">
                        <h2 class="title-card">pocos con Stock!</h2>
                    </th>
                </tr>
                <!-- ****** CARD DE LOS PRODUCTOS ******* -->
                <tr class="gen-card" id="gen-card2">
                    <!-- Table Data - datos de Tablas -->
                </tr>
            </div>
        </table>
    </div>
</main>
<script src="/static/logic/userCurrent.js"></script>
<script src="/static/logic/offer.js"></script>