<main>
    <div class="fondo">
        <section class="sectioKey">
            <div class="signin">
                <div class="content">
                    <h2>reset password</h2>
                    <form action="http://localhost:8080/api/reset" class="form" method="post">
                        <div class="inputBox">
                            <input type="email" name="email" id="email" required><i>Email</i>
                        </div>
                        <div class="inputBox">
                            <input type="password" name="password" id="password" required> <i>Password</i>
                        </div>
                        <div class="inputBox">
                            <input type="password" name="reset" id="reset" required> <i>New Password</i>
                        </div>
                        <div class="links"> <a href="/api/reset"></a> <a href="/api/register">Signup</a>
                        </div>
                        <div class="inputBox">
                            <input type="submit" class="logInput" value="Reset">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>