<main>
    <div class="fondo">
        <section class="sectioKey">
            <div class="signin">
                <div class="content">
                    {{#if token}}
                    <h2>reset password</h2>
                    <form class="form" id="resetForm">
                        <div class="inputBox">
                            <input type="password" name="password" id="password" required> <i>Password</i>
                        </div>
                        <div class="inputBox">
                            <input type="password" name="reset" id="reset" required> <i>New Password</i>
                        </div>
                        <div class="links"> <a href="/login"></a> <a href="/login">Signup</a>
                        </div>
                        <div class="inputBox">
                            <button type="submit" class="logInput" value="Reset">Reset Password</button>
                        </div>
                    </form>
                    {{else}}
                    <h2>colocar Email</h2>
                    <form class="form" id="emailForm">
                        <div class="inputBox">
                            <input type="email" name="email" id="email" required> <i>email</i>
                        </div>
                        <div class="links"> <a href="/login"></a> <a href="/login">Signup</a>
                        </div>
                        <div class="inputBox">
                            <button type="submit" class="logInput" value="Reset">Reset Password</button>
                        </div>
                    </form>
                    {{/if}}
                </div>
            </div>
        </section>
    </div>
</main>
<script src="/static/logic/resetPassword.js"></script>