<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="pc, computadora, destacado, recomendado, precio, calidad, envio, domicilio, armado">
    <meta name="description"
        content="Pagina dedicada al mundo gamer. Configura tu computadora, nosotros la armamos. El Mejor Precio. La Mejor Atencion. Black Week. La Mejor Financiacion. Las Mejores Ofertas.">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="text/javascript" src="https://sdk.mercadopago.com/js/v2"></script>
    <link rel="stylesheet" type="text/css" href="/static/public/style.css">
    <link rel="shotcut icon" href="/static/public/img/iconLogo.png">
    <title>{{titulo}}</title>
</head>

<body>
    <div class="contenedor">
        <!-- Header - Encabezado -->
        <header class="nav-bar">
            <!-- Nav - Navegacion -->
            <nav class="w-100">
                <div class="nav-style collapse" id="navbarToggleExternalContent">
                    <div class="div-nav">
                        <a href="/products"><img class="imgLogo" src="/static/public/img/logoMinimalista.png"
                                alt="proyectGaming"></a>
                        <div class="container-Nav-section navbar-collapse-md" id="navbarToggleExternalContent">
                            <!-- ************ LIST BAR, 5 SECCIONES ************* -->
                            <ul class="list-bar">
                                <li class="botn"><a href="/products">Productos</a></li>
                                <li class="botn"><a href="/combos">Nuestros Combos</a></li>
                                <li class="botn"><a href="/oferta">Nuestras Ofertas</a></li>
                                <li class="dropdown botn">
                                    <a class="list-account dropdown-toggle" href="/account" role="button"
                                        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Mi Cuenta
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="/perfil">Facturas</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/perfil">Estado de
                                                Compra</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/perfil">Favoritos</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="botn"><a href="/help">Ayuda</a></li>
                            </ul>
                        </div>
                        <div class="row-end">
                            <!-- ************ Buscador, REGISTRO, CARRITO, CANTIDAD DEL CARRITO *********** -->
                            <input class="search-input" type="search" placeholder="Buscar producto" id="buscador">
                            <input class="submit" type="submit" value="buscar">
                            <div class="btn-group">
                                <button class="btn btn-secondary dropdown-toggle boton-user" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><img class="user-session"
                                        src="/static/public/img/usuario.png">
                                </button>
                                <ul class="dropdown-menu drop-user" id="drop-menu">
                                </ul>
                            </div>
                            {{!-- < a {{ #if session }} href="/api/logout"><img class="logout" {{ else}}
                                    href="/api/login"><img class="login" {{/if}}
                                    src="/static/public/img/usuario.png"></a> --}}
                                <a id="cartToCart" href="/carrito"><img class="cart"
                                        src="/static/public/img/carretilla.png"></a>
                        </div>
                    </div>
                </div>
                <div class="navbar botn-nav navbar-dark">
                    <div class="container-fluid">
                        <button class="bot-h navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="bot-h navbar-toggler-icon nav-span"></span>
                        </button>
                    </div>
                </div>
            </nav>
        </header>
        {{{body}}}
        <footer>
            <ul class="ft-list">
                <li>
                    <div class="list-social">
                        <a href="https://www.facebook.com" target="_blank">Facebook
                            <img src="/static/public/img/facebook.png" alt="facebook"></a>
                    </div>
                </li>
                <li>
                    <div class="list-social">
                        <a href="https://www.instagram.com" target="_blank">Instagram
                            <img src="/static/public/img/instagram.png" alt="instagram"></a>
                    </div>
                </li>
                <li>
                    <div class="list-social">
                        <a href="https://www.youtube.com/" target=" _blank">Youtube
                            <img src="/static/public/img/youtubea.png" alt="youtube"></a>
                    </div>
                </li>
                <li>
                    <div class="list-social">
                        <a href="https://www.twitter.com" target="_blank">Twitter
                            <img src="/static/public/img/twitter.png" alt="twitter"></a>
                    </div>
                </li>
                <li>
                    <div class="list-social">
                        <a href="https://www.outlook.com" target="_blank">Hotmail
                            <img src="/static/public/img/hotmail.png" alt="hotmail"></a>
                    </div>
                </li>
                <li>
                    <div class="list-social">
                        <a href="https://www.whatsapp.com" target="_blank">WhatsApp
                            <img src="/static/public/img/llamada.png" alt="telefono"></a>
                    </div>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>